<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Movie Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
            <div ngbDropdown>
              <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Genres
                </a>
                <div ngbDropdownMenu  class="dropdown-menu" aria-labelledby="navbarDropdown">
                    
                    <app-genres></app-genres>

                </div>
            </div>
          </li>

          <li class="nav-item" *ngIf="!isUserAuthenticated">
            <a class="btn btn-outline-primary" [routerLink]="[ '/login' ]">Login</a>
          </li>

          <li class="nav-item" *ngIf="!isUserAuthenticated">
            <a class="btn btn-outline-primary" [routerLink]="[ '/register' ]">Register</a>
          </li>

          <li class="nav-item" *ngIf="isUserAuthenticated">
            <span class="navbar-text">
              Hi! {{ logedInUser.family_name + " " + logedInUser.given_name }}
            </span>
          </li>

          <li class="nav-item" *ngIf="isUserAuthenticated">
            <a class="btn btn-outline-primary" (click) = "logout()" [routerLink]="[ '' ]" >Logout</a>
          </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>