

.list-group-item{
    background-color: transparent;
    border: 0px;
}

.moviefacts {
    background-color: #f7f7f8;
}

.bg-image {
    height: 28.1rem;
    width: 100%;
    background-size: cover;
    background-color: #07131b;
    background-blend-mode: overlay;
}

.card-img-top {
    width: 300px;
    height: 450px;
}

.cast-small-img {
    width: 34px;
    height: 51px;
}

